
extends layout

block content
    div.container(style='margin:20px')
        table.table.table-bordered.table-striped
            thead
                tr
                    th(style='width:40px') ID
                    th(style='width:180px') Menu Item
                    th(style='width:200px') Type
            tbody
            - for (var i = 0; i < menus.length; i++)
                tr
                    td= menus[i]._id
                    td= menus[i].name
                    td= menus[i].type