extends layout

block content
    div#landing
        div.span12#logo
            h1 PLATE
            br
            form(method="post").form-inline
                input.form-control(placeholder="Zip code or restaurant", type='text', name='search')#searchbar
                button(type='submit').btn.btn-warning.btn-lg SEARCH
    div.navbar.navbar-fixed-top#index
        div.navbar-inner
            div.container-fluid
                button#btn-logout.btn.btn-warning
                    //- i.icon-lock.icon-white
                    | LOGIN
                //- button#btn-logout.btn.btn-warning
                //-     //- i.icon-lock.icon-white
                //-     | RESTAURANT